SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
USE_SQLITE=False
DATABASE_NAME=help_requests
DATABASE_USER=help_requests_app
DATABASE_PASSWORD=change-me
DATABASE_HOST=localhost
DATABASE_PORT=5432
PERSONAL_DATA_POLICY_VERSION=2026-07-05
USE_X_FORWARDED_PROTO=False
TRUST_X_FORWARDED_FOR=False
RATE_LIMIT_10_MINUTES=5
RATE_LIMIT_24_HOURS=20
CAPTCHA_ENABLED=False
CAPTCHA_PROVIDER=hcaptcha
CAPTCHA_SITE_KEY=
CAPTCHA_SECRET_KEY=
