server {
    listen 80;
    server_name help.example.ru;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl http2;
    server_name help.example.ru;

    ssl_certificate /etc/letsencrypt/live/help.example.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/help.example.ru/privkey.pem;

    client_max_body_size 10m;

    location /static/ {
        alias /srv/help_requests_site/staticfiles/;
        expires 7d;
    }

    location /media/ {
        alias /srv/help_requests_site/media/;
    }

    location / {
        include proxy_params;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://unix:/run/help_requests/gunicorn.sock;
    }
}
